# Compiled Object files
*.o
*.ko
*.obj
*.elf

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Executables
*.exe
*.out

# Precompiled Headers
*.gch
*.pch

# IDE specific files
.vscode/
.idea/

# Dependency directories
bin/
build/
lib/

